body{
  margin: 0;
  color: #444;
  font: 100%/30px 'Helvetica Neue', helvetica, arial, sans-serif;
}



.menu {
  background-color: rgb(109, 155, 151);
  overflow: hidden;
  
}

.menu a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.menu a:hover {
  background-color: gray;
  color: black;
}


.menu a.lasuite {
  background-color:black;
  color: white;
}

ul{
display: flex;
flex-direction: row;
justify-content: space-around;
margin-left: auto;
margin-right: auto;
list-style: none;   
padding: auto;
margin: auto;
}
li {
margin-bottom:15px;
}

.inscription{
  background-image: url(https://www.xtrafondos.com/en/descargar.php?id=3538&resolucion=2560x1440);
  background-size: cover;
}

.contenu{
  padding: 8%;
  text-align: center;
}

.test{
text-align: center;
color: white;
font-size: 150%;
}
a {color: red;}

.fermeture{
  background-image: ;
  text-align: center;
  font-family: cursive;
  color:black;
  padding: 150px;
  font-size: 200%;
}

.connexion{
  background-image: url(https://images8.alphacoders.com/760/760721.png);
  background-size: cover;
}


strong {
  font-weight: bold; 
}

em {
  font-style: italic; 
}

table {
  background: #f5f5f5;
  border-collapse: separate;
  box-shadow: inset 0 1px 0 #fff;
  font-size: 12px;
  line-height: 24px;
  margin: 30px auto;
  text-align: left;
  width: 800px;
} 

th {
  border-left: 1px solid #555;
  border-right: 1px solid #777;
  border-top: 1px solid #555;
  border-bottom: 1px solid #333;
  box-shadow: inset 0 1px 0 #999;
  color: #fff;
  font-weight: bold;
  padding: 10px 15px;
  position: relative;
}

th:after {
  background: linear-gradient(rgba(255,255,255,0), rgba(255,255,255,.08));
  content: '';
  display: block;
  height: 25%;
  left: 0;
  margin: 1px 0 0 0;
  position: absolute;
  top: 25%;
  width: 100%;
}

th:first-child {
  border-left: 1px solid #777;  
  box-shadow: inset 1px 1px 0 #999;
}

th:last-child {
  box-shadow: inset -1px 1px 0 #999;
}

td {
  border-right: 1px solid #fff;
  border-left: 1px solid #e8e8e8;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #e8e8e8;
  padding: 10px 15px;
  position: relative;
  transition: all 300ms;
}

td:first-child {
  box-shadow: inset 1px 0 0 #fff;
} 

td:last-child {
  border-right: 1px solid #e8e8e8;
  box-shadow: inset -1px 0 0 #fff;
} 

tr:last-of-type td {
  box-shadow: inset 0 -1px 0 #fff; 
}

tr:last-of-type td:first-child {
  box-shadow: inset 1px -1px 0 #fff;
} 

tr:last-of-type td:last-child {
  box-shadow: inset -1px -1px 0 #fff;
} 

tbody:hover td {
  color: transparent;
  text-shadow: 0 0 3px #aaa;
}

tbody:hover tr:hover td {
  color: #444;
  text-shadow: 0 1px 0 #fff;
}

.text-center{
  color:#fff; 
  text-transform:uppercase;
    font-size: 23px;
    margin: -50px 0 80px 0;
    display: block;
    text-align: center;
}
.box{
  margin-left: 50%;
  margin-top: 23%;


  transform: translate(-50%,-50%);
    background-color: rgba(0, 0, 0, 0.89);
  border-radius:3px;
  padding:70px 100px;
}
.input-container{
  position:relative;
  margin-bottom:25px;
}
.input-container label{
  position:absolute;
  top:0px;
  left:0px;
  font-size:16px;
  color:#fff; 
    pointer-event:none;
  transition: all 0.5s ease-in-out;
}
.input-container input{ 
  border:0;
  border-bottom:1px solid #555;  
  background:transparent;
  width:100%;
  padding:8px 0 5px 0;
  font-size:16px;
  color:#fff;
}
.input-container input:focus{ 
 border:none; 
 outline:none;
 border-bottom:1px solid #e74c3c; 
}

.btn{
  color:#fff;
  background-color:#e74c3c;
  outline: none;
  border: 0;
  color: #fff;
  padding:10px 20px;
  text-transform:uppercase;
  margin-top:50px;
  border-radius:2px;
  cursor:pointer;
 text-align: center;
}

.input-container input:focus ~ label,
.input-container input:valid ~ label{
  top:-12px;
  font-size:12px;
  
}

input[type=submit] {
 width:100px;
 margin-left:15%;
 box-shadow:1px 1px 1px #D83F3D;
 color: red;
 cursor:pointer;
 border:none;
 


 }


fieldset {
  border: thin solid white;
  margin: 0 auto;
  padding: 2em;
  width: 75%;
 margin-bottom:10px;
 border:1px solid #DF3F3F;
  
}


label {
 margin-top:10px;
 display:block;
 }

legend {
  
  float: left;
  margin-bottom: .5em;
  width: 100%;
  color:#fff;
  background-color:blanchedalmond;
  border:2px solid gray; 
  border-radius:8px;  
}

footer{
      height: 50px;
      text-align: center;
      padding-top: 30px;
      color:red;
    
}
.contai
{
text-align: center;
}
.login
{
  text-transform: uppercase;
}
.reservation
{
border: medium;

}

.commentaire{
  background-image: url(https://images7.alphacoders.com/984/984762.jpg);
  background-size: cover;
}

#formulaire{
  color: black;
  text-align: center;
  padding: 2%;
  border: 5px solid #fff;
  -moz-box-shadow: 8px 8px 12px #aaa; 
  -webkit-box-shadow: 8px 8px 12px #aaa; 
  box-shadow: 8px 8px 12px #555;
  position: center;
}

legend{

  text-transform: uppercase;
  color: black;
}
